/*  your css code here. If applicable */
/* #a{
    font-size: 60px;
    color: #2a7ae2
}
#b{
    font-size: 50px;
    color: #f44336;
}
#c{
    font-size: 40px;
    color: #4caf50;
}
#d{
    font-size: 30px;
    color: #ff9800;
}
#e{
    font-size: 20px;
    color: #607d8b;
}
#f{
    font-size: 10px;
    color: #ffeb3b;
} */